<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %} {% endblock %}</title>
    {% block css %}
    <link crossorigin="anonymous" href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% include 'navbar.html'%}
<div class="container">
    {% block body %} {% endblock %}
</div>

{% block js %}
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}} "></script>
{% endblock %}
</body>
</html>


